<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Password</th>
          <th scope="col">Email</th>
          <th scope="col">Department ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.password }}</td>
          <td><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
          <td>{{ employee.department_id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
